VITE_API_BASE_URL=http://localhost:8000
VITE_S3_TILE_BASE_URL=http://localhost:8000/tiles
VITE_FLOOD_TILE_BASE_URL=http://localhost:8000/tiles/flood
VITE_S3_ORTHO_PREFIX=orthomosaic
VITE_S3_DEM_PREFIX=dem
VITE_S3_DTM_PREFIX=dtm
VITE_MAP_DEFAULT_LAT=21.1458
VITE_MAP_DEFAULT_LNG=79.0882
VITE_MAP_DEFAULT_ZOOM=14
VITE_CESIUM_ION_TOKEN=
