LOCAL_DATA_PATH=D:/Codings/Hydrology Data Portal React Version/Project_Data
UPLOAD_DISK_HEADROOM_MB=512
POINTCLOUD_SRS_IN=
POINTCLOUD_SRS_OUT=4978
SESSION_TTL_SECONDS=604800
SESSION_SIGNING_SECRET=replace-with-a-long-random-secret
FRONTEND_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
